apiVersion: v1
kind: Secret 
metadata:
  name: homarr-secret
  namespace: homarr
type: Opaque
stringData:
  # Generate with `openssl rand -hex 32`
  db-encryption-key: ""

  # -- ID of OIDC client (application) secret key
  oidc-client-id: ""

  # -- Secret of OIDC client (application) secret key
  oidc-client-secret: ""