apiVersion: v1
kind: Secret
metadata:
  name: pve-exporter-secret
  namespace: monitoring
type: Opaque
stringData:
  PVE_USER: "" # User
  PVE_TOKEN_NAME: "" # Token name
  PVE_TOKEN_VALUE: "" # Token
  PVE_VERIFY_SSL: "false" # Optional
