apiVersion: v1
kind: Secret
metadata:
  name: server-secret
  namespace: paperless
type: Opaque
stringData:
  PAPERLESS_DBPASS: "strong-password"
  PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
    {
      "openid_connect": {
        "OAUTH_PKCE_ENABLED": true,
        "APPS": [
          {
            "provider_id": "authentik",
            "name": "authentik",
            "client_id": "<client-id>",
            "secret": "<client-secret>", 
            "settings": {
              "server_url": "https://authentik.poolnode.net/application/o/paperless/.well-known/openid-configuration",
              "fetch_userinfo": true
            }
          }
        ], 
        "SCOPE": ["openid", "profile", "email"]
      }
    }
