# Disable configmaps to migrate to ArgoCD app by app
!/apps/dashboards/mealie/configmap.yaml
!/apps/dashboards/homarr/values.yaml
!/apps/dashboards/paperless/server/configmap.yaml
!apps/dns/unbound-configmap.yaml
!apps/dns/pihole-configmap.
!apps/media/immich/configmap.yaml
!apps/media/plex/configmap.yaml
!apps/dashboards/cloudbeaver/values.yaml
!apps/monitoring/kube-prometheus-stack/values.yaml
!apps/monitoring/loki/values.yaml
!apps/monitoring/grafana-alloy/values.yaml
!apps/monitoring/grafana-alloy/alloy-configmap.yaml
!apps/monitoring/kube-prometheus-stack/manifests/grafana/datasources/loki-datasource-configmap.yaml
!apps/auth/authentik/values.yaml
!apps/databases/redis/values.yaml
!apps/automations/n8n/values.yaml

# == Infra ==
!infra/velero/values.yaml
!infra/longhorn/values.yaml
!infra/secrets-store-csi/values.yaml