apiVersion: v1
kind: Secret
metadata:
  name: n8n-secret
  namespace: n8n
type: Opaque
stringData:
  # Generate with `openssl rand -hex 32`
  N8N_ENCRYPTION_KEY: "<change-me-to-a-long-random-key>"
  N8N_RUNNER_AUTH_TOKEN: "<runner-auth-token>"
  POSTGRES_DB_PASSWORD: "<postgres-db-password>"

  # Can be claimed from the UI
  N8N_LICENSE_KEY: "<license-key>"

  N8N_HOST: "<your-domain.com>"
  N8N_PORT: "5678"
  N8N_PROTOCOL: "https"
