apiVersion: v1
kind: Secret
metadata:
  name: authentik-secret
  namespace: authentik
type: Opaque
stringData:
  # === Authentik ===
  # Generate with `openssl rand 60 | base64 -w 0`
  AUTHENTIK_SECRET_KEY: ""

  # === PostgreSQL ===
  AUTHENTIK_POSTGRESQL__PASSWORD: ""

  # === Email ===
  AUTHENTIK_EMAIL__PASSWORD: 
