apiVersion: v1
kind: Secret
metadata:
  name: pihole-secrets
  namespace: dns
type: Opaque
stringData:
  # Set a password to access the web interface. Not setting one will result in a random password being assigned
  FTLCONF_WEBSERVER_API_PASSWORD: "correct horse battery staple"