# Copyright (C) 2019, Wazuh Inc.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.

# Wazuh API credentials secret

apiVersion: v1
kind: Secret
metadata:
  name: wazuh-api-cred
  namespace: wazuh
type: Opaque
stringData:
  username: wazuh-wui
  # Must be between 8 and 64 characters length
  # And it should also container one uppercase and one lowercase letter, a number and a symbol
  password: "MyS3cr37P450r.*-" 
