# Copyright (C) 2019, Wazuh Inc.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.

# Wazuh cluster key secret

apiVersion: v1
kind: Secret
metadata:
  name: wazuh-cluster-key
  namespace: wazuh
type: Opaque
stringData:
  # Requires 32 characters, run `openssl rand -hex 16`
  key: "123a45bc67def891gh23i45jk67l8mn9"
